{% extends 'base.html.twig' %}

{% block title %}Mon Compte - La Boutique 2V3D{% endblock %}

{% block content %}
<h1>Mon Compte</h1>
{% if is_granted('ROLE_ADMIN') %}
<small><a href="/admin">Accès administrateur</a><br></small>
{% endif %}
<br>

Bienvenue dans votre compte, <strong>{{app.user.firstname}}</strong> .  <br> Dans cet espace, vous allez pouvoir gérer toutes vos informations personnelles.
<hr>
<div class="row mon_compte">
        <div class="col-4">
            <div class="account-item1 text-center">
                <img src="{{ asset('assets/img/password.png')}}" alt="icon password"><br>
                <a href="{{path('account_password')}}">Modifier mot de passe</a>     
            </div>
        </div>
        <div class="col-4">
            <div class="account-item2 text-center">
                <img src="{{asset('assets/img/address.png')}}" alt="icon adresse"><br>
                 <a href="{{path('account_address')}}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-4">
            <div class="account-item3 text-center">
                <img src="{{asset('assets/img/purchase.png')}}" alt="icon commandes"><br>
                <a href="{{path('account_order')}}">Mes commandes</a>
            </div>
        </div>
    </div>

{% endblock %}
 