<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<meta name="description" content="Création et vente d'objets réalisés en impression 3D">
    <title>{% block title %}La Boutique 2V3D{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/2v3d.css') }}">
    {% block javascript %}
    {% endblock %}
    <style>
    body {

    }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md fixed-top" style="background-color:#090e5e;">
        <a class="navbar-brand" style="color:#fff; font-size: x-large" href="{{ path('home') }}">La Boutique 2V3D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color:##0055A4;" href="{{ path('about') }}">Qui sommes-nous ?   |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#fff;" href="{{ path('products') }}">Nos Produits   |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#ff0000;" href="{{ path('contact') }}">Contact  
                     |</a>
                </li>
            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}
                    <a style="color:#ff0000;" href="{{ path('account') }}">Mon Compte <small>({{ app.user.firstname }})</small></a> | <a href="{{ path('logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
                {% endif %}
            </div>
            <a href="{{ path('cart') }}">
                <img src="{{ asset('assets/img/shopping-cart.png') }}" class="cart-icon" alt="Mon panier">
            </a>
        </div>
    </nav>
</header>

<main role="main">

    {% if block('carousel') is defined %}
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for key, header in headers %}
            <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for key, header in headers %}            
            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration }}'); background-size:cover;">

                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="bg-primary p-2" style="color:white;display: inline-block;font-size:3.5rem;">{{ header.title }}</h1><br>
                        <p class="bg-light p-2" style="color:black;display: inline-block;size:2rem;">{{ header.content }}</p>
                        <p><a class="btn btn-lg btn-danger" href="{{header.btnUrl}}" role="button" style="color:white;display: inline-block;">{{header.btnTitle}}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    {% endif %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}"> 
        {% block content %}
        {% endblock %}

    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom">
        <p class="float-right"><a href="#" style='text-decoration: none;font-weight: bold;'>Back to top</a></p>
        <p style='font-weight: bold; color: #090e5e;'>
            &copy; 2023 - La Boutique 2V3D <br>
            <small>
            {# <a href="#">Privacy</a>  #}
            <a href="{{path('cgu')}}"style='text-decoration: none;font-weight: bold;'>CGU</a></small>
        </p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
{% block script %}
{% endblock %}
</html>